:root {
    --verde: #87C734;
    --rojo: #EE1C23;
    --negro: #221E1F;
}

.contenedor{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0.00px 4.00px 11px 0px rgba(0, 0, 0, 0.21);
    background-color: #fff;
}

.navbar{
    margin: 0 13rem;
    background-color: #fff!important;
}


.navbar_botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.btn{
    padding: .3rem 2rem;
    background-color: var(--verde);
    outline: none;
    color: #fff;
    border: none;
}

.btn.one{
    background-color: var(--rojo);
}

.btn:hover{
    color: #fff;
    background-color: var(--negro);
}

.navbar_redes,
.navbar_links
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar_links{
    gap: 40px;
}

.navbar_links a{
    text-decoration: none;
}

.navbar_redes{
    gap: 20px;
}

.navbar_redes {
    font-size: 1.3rem;
}

.navbar-brand {
    padding-left: 19px;
}

.navbar .active{
    background-color: var(--rojo);
    transition: all 0.2s ease-in;
    padding: 8px 0;
}

.navbar .active span{
    color: white!important;
}

.navbar .active:hover{
    background-color:#fff;
}

.navbar .active:hover span{
    color: var(--negro)!important;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 1250px) {

    .navbar {
        margin: 0 4rem;
    }

    .navbar_links {
        gap: 15px;
    }

    .navbar_botones {
        gap: 20px;
    }

    .btn {
        padding: .3rem 1rem;
    }
}

/* media query for mobile devices */
@media (max-width: 767px) {

    .navbar {
        margin: 0 1rem;
    }
    .navbar.mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 45px;
        margin: 0;
        padding: 10px 20px;
    }

    .navbar-brand {
        padding-left: 0;
        padding-right: 0!important;
        margin-right: 0!important;
        display: flex;
        width: 30%;
        font-size: 1.1rem!important;
    }

    .navbar  img, svg {
        width: 100%;
    }

    .navbar_botones {
        gap: 5px;
    }

    .btn {
        padding: 5px;
        font-size: 8px;
    }

    .mobile-dos{
        gap: 30px;
        justify-content: center;
    }

    .navbar_redes{
        display: none;
    }

    .navbar .active{
        padding: 3px 4px;
    }

}